* { 
    box-sizing: border-box;
  }

header {
    background-color: #466995;
    color: white;
    border-bottom: 1px solid black;
    height: 200px;
    width: 100%;
  }  


h1 {
    width: 100%;

 }





footer {
    background-color: grey;
    height: 100px;
    width: 100%;

  }



p {
    font-family: Times New Roman;
    font-size: 16px;
    margin: 60px;
    width: 150px;
    padding: 10px;
    border: 5px solid teal;
    
    
  }

.Intro { 
         position: relative;
         
        
         top: 200px;
         left: 600px;
         
         border: 2px solid black;
         padding: 10px;
         
        }

.Social_Media_Icons {

         float: right;
         display: inline;
         
         border: 1px solid black;
         padding: 25px;
         margin: 0;
         
        }
    
   
         


