body {
  font-family: Helvetica;
  font-size: 15px;
}


header {
    background-color : white;
    color: black;
    
    height: 120px;
    width: 100%;
  }  


a:link { 
	 background-color: white;
   font-color: Crimson;
	 font-size: 14px;
	 font-style: normal;
	 font-family: helvetica;
   font-weight: bold;
	 text-decoration: none;

}

#left {
  height: 1px;
  float: left;
  display: block;
  min-width: 0;
  overflow: hidden;
  width: 400px;
  margin: 0;
  padding: 0;
}

#content {
  margin-top: 120px;
  float: left;
  width: 700px;
}

#content p {
  color: #333;
  line-height: 18px;
}
