* { 
    box-sizing: border-box;
  }

header {
    background-color : white;
    color: black;
    
    height: 20px;
    width: 100%;
  }  


h1 {
    width: 100%;

 }





footer {
    background-color: grey;
    height:;
    width: 100%;

  }



p {
    font-family: Times New Roman;
    font-size: 16px;
    margin: 60px;
    width: 300px;
    padding: 10px;
    border: ;
    
    
  }

.Intro { 
         position: absolute;
         
        
         
         
         left: 400px;
         top: 50px; 
         
         border: 2px solid black;
         padding: 10px;
         
         
        }

.Social_Media_Icons {

         float: right;
         display: inline;
         
         
         padding: 5px 3px;
         margin: 0;
         
        }
    
a:link { 
	 background-color: white;
         font-color: Crimson;
	 font-size: 14px;
	 font-style: normal;
	 font-family: helvetica;
         font-weight: bold;
	 text-decoration: none;

}


a.pagelinks {
             font-size: 8px;
             font-style: normal;
             font-family: verdana;
             text-decoration: underline;


}   
         


